* {
  margin: 0;
  border: 0;
  font-family: "Times New Roman", Times, serif, Courier, monospace;
  color: azure;
}

body {
  background-image: url(img/World\ Map.svg);
  background-position: center;
  margin-top: 30;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 0;
  border-top: 1px solid white;
}

.icon {
  width: 35px;
  margin-left: 20px;
  margin-top: 5px;
  position: fixed;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: black;
}

.menu nav ul {
  display: flex;
  list-style: none;
}

.menu nav ul li a {
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
}

.menu nav ul li a:hover {
  background-color: rgb(170, 56, 2);
  transition: all ease 0.8s;
}

#Home,
#Sobre,
#Git {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 50px;
}

#Sobre,
#Git {
  font-size: 25px;
}

.Perfil {
  width: 25%;
  border-radius: 100%;
}

#Dev,
#Cred {
  display: flex;
  flex-direction: row;
}

.Logo {
  width: 28px;
  margin-left: 5px;
}


.Sob02 {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 80px;
}

.Git02 {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: gray;
  overflow: auto;
  padding: 0 10PX;
}

.Git02::-webkit-scrollbar {
  width: 10px;
}

.Git02::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.Git02::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkorange;
}

.Git02 h1,
.Git02 h2,
.Git02 h3,
.Git02 h5 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

.Git02 h1 {
  text-align: center;
  font-size: 35px;
}

.Git02 p {
  margin-left: 25px;
  font-size: 20px;
}
